dist
esm
lib
node_modules
local_modules
public
build
package.json
storybook-static
demo-app
coverage
**/vendor
**/scripts
Dockerfile
Jenkinsfile_build
.prettierignore
.eslintignore
.dockerignore
*.snap
*.jpg
*.png
*.svg
*.ico
*.txt
*.otf
.npmrc
.env
.gitignore
.husky/*